# Unity YAML files
*.unity text eol=lf
*.asset text eol=lf
*.prefab text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.cs text eol=lf

# Binary files
*.png binary
*.jpg binary
*.psd binary
*.mp3 binary
*.wav binary
*.fbx binary
